/* APP styles */
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: url('SEGA.TTF');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}